.landingPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("https://images5.alphacoders.com/900/900093.jpg");
  background-size: cover;
  background-position: center;
}

.landingPageContainer img {
  position: fixed;
  height: 100%;
  width: 100%;

  z-index: -1;
}

.landingPageContainer h1 {
  margin: 0;
  font-size: 36px;
  color: white;
}

.landingPageContainer button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}
