.cardContainer {
  border: 1px solid black;
  display: flex;
  /* flex-direction: column; */
  height: 200px;
  width: 350px;

  background-color: beige;
}

.imageContainer {
  height: 100%;
  position: relative;
}

.imageContainer button {
  position: absolute;
  z-index: 1;
}

.imageContainer img {
  display: block;

  height: 100%;
  width: 150px;
}

.noImageContainer {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  padding-left: 20px;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  font-size: 18px;

  padding: 1px;
  overflow: hidden;
}

h2,
p {
  margin: 2px;
  white-space: nowrap;
  overflow: hidden;
}
