.formContainer {
  border: 1px solid blueviolet;
  display: flex;
  justify-content: center;

  height: 100vh;
}

.formContainer span {
  color: red;
  font-size: 12px;
}

.textContainer {
  border: 1px solid black;
  background-color: rgb(231, 231, 204);

  width: 500px;
  height: 500px;

  margin: 40px 40px 0px 40px;
}

.textContainer h2 {
  text-align: center;
}

.textContainer label {
  display: block;
  margin: 10px 15px;
}

.textContainer input {
  margin: 0px 15px;
  border: none;
  border-radius: 8px;
  height: 30px;
}

.teamsContainer {
  border: 1px solid black;
  background-color: rgb(231, 231, 204);

  width: 500px;
  max-height: 500px;

  margin: 40px 40px 0px 40px;

  overflow-x: hidden;
}

.teamsContainer div {
  display: inline-block;
  margin: 1px 2px;
}

.buttonContainer {
  position: absolute;
  bottom: 0;
  text-align: center;
}

.buttonContainer button {
  background-color: antiquewhite;

  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
/* 
.formContainer {
  border: 1px solid black;
  background-color: rgb(231, 231, 204);

  display: flex;

  height: 600px;
  width: 600px;

  margin: 20px auto;

  position: relative;
  overflow: auto;
}

.form h2 {
  text-align: center;
}

.form label {
  display: block;
  margin: 10px 15px;
}

.form input {
  margin: 0px 15px;
  border: none;
  border-radius: 8px;
  height: 30px;
}

.form span {
  color: red;
  font-size: 12px;
}

.submitButton {
  display: block;
  margin: 10px;

  position: absolute;
  right: 0;
  bottom: 0;

  background-color: antiquewhite;

  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.formSelect {
  display: flex;
  flex-direction: column;
  margin: 0px 15px;
  align-items: flex-start;

  width: 500px;
  overflow: auto;
}

.selectedTeams {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.selectTeam {
  display: flex;
  align-items: center;
  background-color: lightgray;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
} */
